.headerApp {
    background-color: #6C5CE7;
    height: 94px;
    display: flex;
    justify-content: space-between;
    padding-left: 211px;
    padding-right: 211px;
    align-items: center;
}

.logo>img {
    width: 70px;
}


nav {
    display: flex;
    gap: 24px;
}

.n1,
.n2 {
    padding: 10px 21px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.mainSection {
    margin-top: 106px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}