.connectLinkedin {
    margin-left: 165px;
    margin-bottom: 177px;
}

.connectLinkedin>h2 {
    font-size: 64px;
    margin-bottom: 20px;
}

.connectLinkedin>a {
    border: 1px solid #000000;
    border-radius: 21px;
    width: 100px;
    height: 44px;
    padding: 10px 29px;
    color: black;
}