.mainSection {
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 226px;
}

.Sleft {
    margin-top: 169px;
}

.Sright {
    margin-top: 106px;
}

.Sleft>h1 {
    font-size: 64px;
    width: 621px;
}
.Sleft>nav{
    flex-direction: column;
}

.Sleft>div {
    display: flex;
    gap:5px;
}


.loginGoogle, .loginEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    border-radius: 52px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}


.loginGoogle {
    color: #6C5CE7;
    border: 1px solid #6C5CE7;
    background-color: transparent;
    margin-top: 17px;
}


.loginEmail {
    color: white;            
    background-color: #6C5CE7; 
    border: none; 
    margin-bottom: 24px;           
}

.Sleft>p {
    width: 351px;
    margin-bottom: 20px;
    font-size: 14px;
}

.Sleft>div {
    width: 292px;
    margin-left: 64px;
}

.Sright>img {
    width: 717.719970703125px;
}